:root
        --primary-color: #ddd;
        --secondary-color: #2196f3;
        --tertiary-color: #ddd;
        --quaternery-color: #77777724;
        --primary-bg-color: #2a2a2a;
        --secondary-bg-color: #fff;
        --opacity-bg-color: #8e8e8e12;
        --primary-shadow: 2px 1px 6px 0px #ddd;
        --border-radius: 8px;
