:root {
  --primary-color: #212121;
  --secondary-color: #1565c0;
  --tertiary-color: #555555;
  --quaternery-color: #cccccc;
  --primary-bg-color: #f0f2f5;
  --secondary-bg-color: #ffffff;
  --opacity-bg-color: #0000000a;
  --primary-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}
