@import "./stylus-variables.styl"

.text-L
	line-height: normal;
	font-size: 24px;
	font-weight: 500;
	
	@media (max-width: $mobile-size)
		font-size: 20px;

.text-M 
	line-height: normal;
	font-size: 20px;
	font-weight: 500;
	@media (max-width: $mobile-size)
		font-size: 18px;


.text-S 
	line-height: normal;
	font-size: 18px;
	font-weight: 300;
	@media (max-width: $mobile-size)
		font-size: 16px;


.text-XS 
	line-height: 16px;
	font-size: 12px;
	font-weight: 300;
	

.header-L 
	font-size: 26px;
	font-weight: 600;
	@media (max-width: $mobile-size)
		font-size: 26px;


.header-M 
	font-size: 20px;
	font-weight: 600;
	@media (max-width: $mobile-size)
		font-size: 18px;


.header-S 
	font-size: 14px;
	font-weight: 600;

	@media (max-width: $mobile-size)
		font-size: 12px;

a 
	color: var(--primary-color);


