:root
    --primary-color: #ddd;
    --secondary-color: #7e4b00;
    --tertiary-color: #ddd;
    --quaternery-color: #383737;
    --primary-bg-color: #000000de;
    --secondary-bg-color: #fff;
    --primary-shadow: 2px 1px 6px 0px #ddd;

    --layout-width: 700px